.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2rem;
}

.searchCriteria {
  display: grid;
  grid-column: 1 / 2;
  grid-template-rows: auto;
  grid-gap: 1rem;
  justify-content: center;
  align-content: flex-start;
}

.searchCriteria input,
select {
  margin-left: 10px;
}

.results {
  display: grid;
  grid-column: 2 / 3;
}
